name: CAPMVM (ARM, experimental) - Build and release

on:
  workflow_dispatch:
    inputs:
      k8s_version:
        description: "K8s version (major.minor). For example 1.30"
        required: true
      k8s_patch_version:
        description: "K8s patch version"
        required: true
        default: "0"
      containerd_version:
        description: "Containerd version (major.minor.patch). For example 1.7.27"
        required: true
      ubuntu_version:
        description: "Ubuntu version"
        required: true
        default: "22.04"
        type: choice
        options:
          - "22.04"
          - "24.04"
          - "20.04"

permissions:
  id-token: write
  contents: read
  packages: write

defaults:
  run:
    working-directory: experimental/arm/capmvm/kubernetes

jobs:
  buildandpublish:
    name: Build and publish CAPMVM (ARM64)
    runs-on: ubuntu-latest
    env:
      REGISTRY: ghcr.io/${{ vars.REGISTRY_OWNER || github.repository_owner }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push ARM image
        run: |
          RELEASE_VERSIONS=${{ inputs.k8s_version }}.${{ inputs.k8s_patch_version }} \
          CONTAINERD_VERSION=${{ inputs.containerd_version }} \
          UBUNTU_VERSION=${{ inputs.ubuntu_version }} \
          make build-and-push
